manuscript.pdf
.DS_Store
*.blg
*.bbl
*.aux
*.log
*.out
*.pyc
*.synctex.gz
**/*.fasta.gz
**/*.txt.gz
**/*.sbatch
**/*~
**/*.slurm-*.out
**/*_jobid
**/*_jobstatus
**/*_errors
**/*.fastq
**/*.sra
FASTQ_files/
.ipynb_checkpoints/
